
<h1>
    Upload Files
</h1>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="fichero" class="form-control"/>
    <button class="btn btn-info">
        Upload File
    </button>

</form>

<h2 style="color:rebeccapurple">
    @ViewData["MENSAJE"]
</h2>

